<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Bootstrap Links -->
    <link rel="stylesheet" class="footer-links" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

    <!-- W3 CSS Links -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <!-- Cutsom CSS Link -->
    <link rel="stylesheet" class="footer-links" href="./css/style.css">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" class="footer-links" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">

    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-route/angular-route.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/config.js"></script>
    <script src="./js/factory.js"></script>
    <script src="./js/controllers/homeController.js"></script>
    <script src="./js/controllers/aboutController.js"></script>
    <script src="./js/controllers/headerController.js"></script>
    <script src="./js/controllers/sidebarController.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="./js/googleChart/chartConfig.js"></script>
    <script src="./js/dir.js"></script>
    <script src="./js/googleChart/googleChart.js"></script>

</head>

<body ng-app="myapp">


    <div ng-controller="sidebarCtrl">

        <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
            <button class="w3-bar-item w3-button w3-large" ng-click="close()">Close &times;</button>
            <a ng-href="#/" class="w3-bar-item w3-button">Home</a>
            <a ng-href="#/about" class="w3-bar-item w3-button">About</a>
            <a ng-href="#" class="w3-bar-item w3-button">Profile</a>
            <a ng-href="#" class="w3-bar-item w3-button">Account Settings</a>
        </div>

        <header class="row headerContainer" ng-controller="headerCtrl">
            <div class="col-md-1">
                <button id="openNav" class="w3-button w3-small" ng-click="open()">&#9776;</button>
            </div>
            <div class="col-md-8 tabLink">
                Halinx Enterprises Inc.
            </div>
            <div class="col-md-3">
                <div class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" data-toggle="dropdown">
                        <img ng-src="{{stDetails.place.cover_pic_url}}" class="store-icon-header"> {{stDetails.name}}
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <img ng-src="{{stDetails.place.cover_pic_url}}" class="store-icon"> {{stDetails.name}}
                        </div>
                        <hr>
                        <div class="dropdown-item">Category : {{stDetails.category}}</div>
                        <hr>
                        <div class="dropdown-item">
                            <a>Account Details</a>
                            <hr>
                            <button class="btn btn-danger" ng-click="signOut()">Sign Out</button>
                        </div>

                    </div>
                </div>
            </div>
        </header>

        <div id="main" class="container">
            <ng-view></ng-view>
        </div>
    </div>
    <footer class="footer-section">
        <div class="row footer-about-section">
            <div class="col-lg-4">
                <h2>About Halinc Inc.</h2>
                <!-- <p>We provde a prestine onterface for retail stores in a given neighbourhood to provide higher level of customer satisfaction. Thereby, making the complete neighbourhood smart. Our interface provide retail stores to be able to seel online and also provide them detailed accounts of the customer visits and their satisfaction levels.</p> -->
                <p style="padding-right: 10px;">We provide high Quality,Good Looking, Premium interface for retail stores which are ready to use.</p>
                <h3>Connect With Us!</h3>
                <div class="social-media-section">
                    <img src="./images/fb-icon.png" alt="" class="social-media-icon">
                    <img src="./images/insta-icon.png" alt="" class="social-media-icon">
                    <img src="./images/twitter-icon.png" alt="" class="social-media-icon">
                    <img src="./images/linkedin-icon.png" alt="" class="social-media-icon">
                    <img src="./images/pinterest-icon.png" alt="" class="social-media-icon">

                </div>
            </div>
            <div class="col-lg-4 footer-link-section">
                <h2>Links</h2>
                <a class="footer-links" href="">About Us</a>
                <a class="footer-links" href="">Contact</a>
                <a class="footer-links" href="">FAQ's</a>
                <a class="footer-links" href="">Community</a>
                <a class="footer-links" href="">Blog</a>
                <a class="footer-links" href="">Careers</a>

            </div>
            <div class="col-lg-4">
                <h2>Latest Posts</h2>
                <p>10 new outlets of retail store sare opened in your area</p>
                <p>Our organisation has spread to 2 new socities</p>
                <p>Online presence improves business</p>
                <p>Halinx Enterprises beats Trump</p>
            </div>

        </div>



        <div class="copyright-section">
            <p>© 2018 Halinx Enterprises Inc.</p>
        </div>
    </footer>
</body>

</html>